
body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    padding: 40px;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.card img {
    width: 85px;
    height: 60px;
    margin-bottom: 20px;
}
 
.card h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card p {
    font-size: 0.9rem;
    line-height: 1.6;
    opacity: 0.8;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(189, 168, 168);
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.4s;
    text-align: center;
    max-width: 150px;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.sedan {
     background-color: hsl(31, 81%, 58%);
     }
.suvs { 
    background-color: hsl(184, 100%, 30%); 
}
.luxury {
     background-color: hsl(179, 100%, 13%); 
    }



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 350px;
    }
}
